body{
    background-color: rgba(28, 29, 29, 0.979);
}
.navbar{
    padding-left: 20px;
    text-align: center;
}
.navbar a{
    text-align: center;
    margin-left: 260px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.row{
    display: flex;
    justify-content: center;
}
.col{
    width: 500px;
}
.card-img-top{
    height: 300px;
}
.card-body p{
    text-align: justify;
}
